.LoginButton{
    -fx-background-color: #262626;
    -fx-background-radius: 25;
}
.LoginButton:hover{
    -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #dc143c, #32cd32);
    -fx-border-radius: 25;
    -fx-border-width: 3;
    
}
